:root {
    --x-white: #ffffff;
    --x-gray: #e0e0e0;
    --x-dark: rgba(55, 65, 81, 1);
    --x-white-rgb: 255 255 255;
    --x-gray-rgb: 224 224 224;
    --x-dark-rgb: 82 82 82;
    --x-black-rgb: 0 0 0;
    --x-gray-400: #9ca3af;
    --x-gray-400-rgb: 156 163 175;
    --x-slate-400-rgb: 148 163 184;
    --x-white-30: rgba(255, 255, 255, 0.3);
    --x-white-40: rgba(255, 255, 255, 0.4);
    --x-white-80: rgba(255, 255, 255, 0.8);
    --x-white-20: rgba(255, 255, 255, 0.2);
    --x-dark-10: rgba(55, 65, 81, 0.1);
    --x-dark-20: rgba(55, 65, 81, 0.2);
    --x-dark-30: rgba(55, 65, 81, 0.3);
    --x-dark-40: rgba(55, 65, 81, 0.4);
    --x-dark-60: rgba(55, 65, 81, 0.6);
    --x-dark-80: rgba(55, 65, 81, 0.8);
    --x-button-primary-start: #0f62fe;
    --x-button-primary-end: #8a3ffc;
    --x-primary: #0f62fe;
}

.bg-primary {
    background: linear-gradient(to right, var(--x-button-primary-start), var(--x-button-primary-end));
}

.dark {
    --x-white: #191818;
    --x-gray: #393939;
    --x-dark: #ededed;
    --x-white-rgb: 22 22 22;
    --x-gray-rgb: 57 57 57;
    --x-dark-rgb: 244 244 244;
    --x-black-rgb: 0 0 0;
}
